.content-introduction{
    height: calc(100vh - var(--height-header));
    display: flex;
    font-family: 'Libertinus Keyboard', sans-serif;
    background-color: var(--text-color);

}

.sidebar{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}
.sidebar > div {
    margin-top: 50px;

}
.sidebar > div > div{
    font-family: 'Rajdhani', Arial, sans-serif;
    font-size: 4rem;
    user-select:  none;
    color: white;
}
.sidebar > div > h1 > strong{
    font-size: 7rem;
    user-select:  none;
    color: white;
}
.sidebar > div > h1 {
    margin-top: 20px;
    font-size: 5.3rem;
    user-select:  none;
    color: white;
}
.information{
    font-family: 'Outfit', sans-serif;
    margin-top: 60px;
    margin-left: 5px;
    height: 150px;
    max-width: 530px;
    transition: transform 0.3s ease-in-out;
    line-height: 1.4;

}
.information:hover {
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
    transform: translateY(-5px);
    cursor: pointer;
}

.knowMore-button{
    background: white;
    color: var(--text-color)!important;
    width: 150px;
    height: 40px;
    font-size: 2rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 5px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.3s ease-in-out;
}
.knowMore-button:hover{
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
    transform: translateY(-5px);
}
.slider {
    position: relative;
    width: 100%;
    max-width:100%;
    height: calc(100vh - var(--height-header) - 150px);
    margin-top: 50px;
    border-top-left-radius: 120px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 40px;
    border: 3px solid white;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
    border-radius: 15px 15px 0 0;
}

.slide {
    min-width: 100%;
    height: 100%;
    width:100%;
    object-fit: cover;
    object-position: top;
    border-radius: 15px 15px 0 0;
    flex-shrink: 0;
    cursor: pointer;
}
/*.slide img{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/
.slide.active {
    pointer-events: auto;
}

.bottom-center {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    padding: 15px 20px;
    padding-bottom: 0;
    text-align: center;
    z-index: 2;
    overflow: visible;
    border-radius: 20px 20px 0 0;
    transition:all 0.3s ease-in-out;
    margin-bottom: 15px;
}

.indicators {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #333;
}


/*@media(max-width:768px){*/
/*    .slider {*/
/*        width:95%;*/
/*        height:400px;*/
/*    }*/
/*    .slider{*/
/*        border-radius:10px;*/
/*    }*/
/*    .btn{*/
/*        margin:5px;*/
/*    }*/
/*    .bottom-center {*/
/*        width: 80%;*/
/*        border-radius:10px;*/
/*    }*/
/*    .bottom-center::before {*/
/*        left: -20px;*/
/*        bottom: -20px;*/
/*        mask: radial-gradient(20px at top left, #0000 98%, #000);*/
/*    }*/

/*    .bottom-center::after {*/
/*        right: -20px;*/
/*        bottom: -20px;*/
/*        mask: radial-gradient(20px at top right, #0000 98%, #000);*/
/*    }*/
/*}*/

/*@media(max-width:414px){*/
/*    .bottom-center{*/
/*        border-radius:10px 10px 0 0;*/
/*    }*/
/*    .btn{*/
/*        width:100%;*/
/*        margin:5px 0;*/
/*    }*/
/*    .bottom-center::before,.bottom-center::after {*/
/*        display:none;*/
/*    }*/

/*}*/

.content-productions{
    margin: 100px 0;
}

.content-production{
    aspect-ratio: 1 / 1.15;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    position: relative;


}
.content-production:hover{
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
    transform: translateY(-5px);
}
.content-production > img{
    min-width: 100%;
    height: 100%;
    width:100%;
    object-fit: cover;
    object-position: top;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity 1.5s ease;
    position: absolute;
}
.production-img1{
    opacity: 1;
}
.production-img2{
    opacity: 0
}

.content-production:hover .production-img1{
    opacity: 0;
}
.content-production:hover .production-img2{
    opacity: 1;
}
.content-sales{
}
.content-sales > div{
    background-color: white;
    width: 100%;
    padding: 50px 0 0 0;
}
.row-sale{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.sale-title{
    text-align: center;
    font-family: 'Rajdhani', Arial, sans-serif;
    font-size: 4rem;
    user-select:  none;
}
.sale-list {
    margin-top: 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 40px;
}
.sale-item{
    aspect-ratio: 1 / 1.15;
    background-color: #000008;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 50px;
}
.sale-item:hover{
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
    transform: translateY(-5px);
}
.sale-item > img {
    height: 100%;
    width:100%;
    object-fit: cover;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 10px;
}
/*Mobile and Tablet*/
@media only screen and (max-width: 64em){
    .content-introduction{
        height: auto;
        width: 100%;
        flex-direction: column;
    }
    .slider{
        width: 100%;
        margin: 50px 0 0 0;
        border: none;
        border-radius: 0;
    }
    .sidebar{
        width: 100%
    }
    .slide{
        border-radius: 0;
        object-fit: cover;
    }
}

/*Mobile*/
@media only screen and (max-width: 46.188em){
    .sidebar > div{
        text-align: left;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sidebar > div > div{
        font-size: 2rem;
    }
    .sidebar > div > h1{
        font-size: 3rem;
    }
    .sidebar > div > h1 > strong {
        font-size: 4rem;
        width: 100%;
    }
    .sidebar > div > p {
        height: auto;
        font-size: 1rem;
        width: 308px;
    }
    .knowMore-button{
        height: 30px;
        width: 100px;
        font-size: 1.6rem!important;
    }
    .sale-title{
        font-size: 3rem;
    }
    .content-productions{
        margin: 50px 0;
    }
}

/*Tablet*/
    @media only screen and (min-width: 46.25em) and (max-width: 64em) {

        .sidebar > div{
            width: 80%;
            text-align: left;         /* chữ bám lề trái */
            max-width: 600px;    /* giới hạn chiều rộng */
        }

        .content-productions{
            margin: 70px 0;
        }
    }