.content-introduction{
    height: calc(100vh - var(--height-header));
    display: flex;
    font-family: 'Libertinus Keyboard', sans-serif;
}

.sidebar{
    height: 100%;
    width: 850px;
    display: flex;
    align-items: center;
    flex-flow: column;
}
.sidebar > div {
    margin-top: 50px;
}
.sidebar > div > div{
    font-family: 'Rajdhani', Arial, sans-serif;
    font-size: 4rem;
    user-select:  none;
}
.sidebar > div > h1 > strong{
    font-size: 7rem;
    user-select:  none;
}
.sidebar > div > h1 {
    color: var(--text-color);
    margin-top: 20px;
    font-size: 5.3rem;
    user-select:  none;
}
.information{
    font-family: 'Montserrat', Arial, sans-serif;
    margin-top: 80px;
    margin-left: 5px;
    height: 150px;
    width: 530px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid var(--text-color);
    overflow: hidden;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.3s ease-in-out;
}
.information:hover {
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
    transform: translateY(-5px);
    cursor: pointer;
}

.knowMore-button{
    background: var(--text-color);
    color: white;
    width: 150px;
    height: 40px;
    font-size: 2rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 5px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.3s ease-in-out;
}
.knowMore-button:hover{
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
    transform: translateY(-5px);
}
.slider {
    position: relative;
    width: 412px;
    max-width:100%;
    height: calc(100vh - var(--height-header) - 150px);
    margin: auto;
    margin-top: 50px;
    margin-left: 100px;
    border-top-left-radius: 120px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 40px;
    border: 3px solid var(--text-color);
    border-bottom: none;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
    border-radius: 15px 15px 0 0;
}

.slide {
    min-width: 100%;
    height: 100%;
    width:100%;
    object-fit: cover;
    object-position: top;
    border-radius: 15px 15px 0 0;
    flex-shrink: 0;
    cursor: pointer;
}

.slide.active {
    pointer-events: auto;
}

.bottom-center {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    padding: 15px 20px;
    padding-bottom: 0;
    text-align: center;
    z-index: 2;
    overflow: visible;
    border-radius: 20px 20px 0 0;
    transition:all 0.3s ease-in-out;
    margin-bottom: 15px;
}

.indicators {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #333;
}


@media(max-width:768px){
    .slider {
        width:95%;
        height:400px;
    }
    .slider{
        border-radius:10px;
    }
    .btn{
        margin:5px;
    }
    .bottom-center {
        width: 80%;
        border-radius:10px;
    }
    .bottom-center::before {
        left: -20px;
        bottom: -20px;
        mask: radial-gradient(20px at top left, #0000 98%, #000);
    }

    .bottom-center::after {
        right: -20px;
        bottom: -20px;
        mask: radial-gradient(20px at top right, #0000 98%, #000);
    }
}

@media(max-width:414px){
    .bottom-center{
        border-radius:10px 10px 0 0;
    }
    .btn{
        width:100%;
        margin:5px 0;
    }
    .bottom-center::before,.bottom-center::after {
        display:none;
    }

}


