
.title-cart{
    display: flex;
    font-size: 2.8rem;
    align-items: center;
    gap: 15px;
    font-weight: 500;
    height: 150px;
}
.title-cart > p{
    font-size: 2.6rem;
}
.home-cart{
    display: flex;
    font-size: 1.8rem;
    height: 100px;
    gap: 5px;
}
.home-cart > a{
    color: #a09f9c;
    transition: color 0.3s ease;
}
.home-cart > a:hover{
    color: #000008;
}
.row-cart{
    display: flex;
    align-items: center;
}
.cart-products{
    background-color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    overflow-y: scroll ;
    height: 468px;
}
.cart-products-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #f2f2f2;
    font-size: 1.8rem;
}
.cart-product{
    padding: 30px;
    display: flex;
    align-items: center;
    position: relative;
}
.info{
    margin-left: 25px;
    width: 370px;

}
.product-price{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5px;
}
.name{
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.length{
    font-size: 1.4rem;
    color: #a09f9c;
}
.trash{
    width: 20px;
    margin-top: 10px;
    color: #a09f9c;
    transition: color 0.3s ease;
}
.trash:hover{
    cursor: pointer;
    color: #000008;
}
.cart-product-details{
    display: flex;
}
.cart-product-details > img{
    width: 120px;
}
.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.quantity-control button {
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.2s ease;
}

.quantity-control button:hover {
    background-color: #eaeaea;
}

.quantity-control .qty-input {
    width: 50px;
    height: 32px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.product-total-price{
    position: absolute;
    right: 20px;
    font-size: 2.5rem;
    font-weight: 600;
}
.cart-total{
    background-color:  white;
    padding: 20px 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.total{
    font-weight:500;
    margin-bottom: 30px;
}
.total-price{
    font-size: 4rem;
    margin: 20px 0;
}

.total,
.total-ship,
.total-voucher{
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.checkout-button{
    margin-top: 50px;
    width: 100%;
    height: 50px;
    background-color: #000008;
    border-radius: 5px;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}


@media  screen and (max-width: 64.1em) {
.cart-products-header{
    display: none;
}
    .cart-product{
        height: 300px;
    }
    .product-total-price{
        margin-left: 0;
    }
    .quantity-control{
    }
}

