
.content {
    padding: 50px 0;
    color: #000008;
    font-family: "Poppins", sans-serif;
}
.breadcrumb{
    font-size: 2rem;
    color: #a09f9c;
    margin-bottom: 60px;
    transition: color 0.3s ease;
    display: flex;
    width: 100px;
}
.breadcrumb > p{
    margin-left: 3px;
}
.breadcrumb:hover{
    color: #000008;
    cursor: pointer;
}
.production-img{
    width: 100%;
}
.production-main-img {
    width:80%;
    border-radius: 8px;
    object-fit: cover;
}
.production-thumbnails{
    width: 100%;
}
.production-thumbnail{
    width: 100%;
    cursor: pointer;
}
.production-info {
    padding: 0 30px;
    font-family: 'Outfit', sans-serif;
}

.product-name {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.product-brand {
    font-size: 1.4rem;
    color: #a09f9c;
    margin-bottom: 16px;
}

.product-price {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}


.product-size {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.size-btn {
    padding: 8px 16px;
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius:25px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
    font-family:  'Outfit', sans-serif;
}

.size-btn:hover,
.size-btn.active {
    border-color: #000;
    background-color: #000;
    color: #fff;
}


.product-action {
    display: flex;
    flex-direction: column;
    gap:24px;
    margin-bottom: 25px;
    padding: 0 100px;
}

.btn {
    padding: 10px 0;
    border: none;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.25s;
    height: 50px;
    font-family:  'Outfit', sans-serif;
}

.add-cart {
    background-color: #000;
    color: #fff;
    font-size: 1.8rem;
}

.add-cart:hover {
    background-color: #000008;
}

.add-wishlist {
    background-color: #ffffff;
    color: #000008;
    font-size: 1.8rem;
}

.add-wishlist:hover {
    background-color: #e9e9e9;
}


.product-description {
    font-size: 1.6rem;
    line-height: 1.6;
}

.product-description ul {
    list-style: disc;
    margin: 10px 0 10px 20px;
}

.product-description a {
    color: #0077cc;
    text-decoration: underline;
    font-size: 1.2rem;
    line-height: 14px;
}

.product-description a:hover {
    color: #005fa3;
}

.size-info {
    font-size: 1.2rem;

    color: #555;
    margin-top: 15px;
}

.suggest-productions{
    width: 100%;
}
.suggest-productions > p {
    height: 120px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family:  'Outfit', sans-serif;
}
.suggest-production {
    width: 100%;
    cursor: pointer;
    margin-bottom: 50px;
}
.suggest-production img {
    width: 100%;
    border-radius: 10px;
}
.suggest-production-name{
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 520;
    font-family: 'Outfit', sans-serif;
}
.suggest-production-price{
    font-family: 'Outfit', sans-serif;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}
/* ===== Responsive ===== */
@media (max-width: 64.1em) {
   .production-thumbnails{
       display: none;
   }
    .production-main-img{
        width: 100%;
    }
}
