
.content {
    padding: 50px 0;
    color: #000008;
    font-family: "Poppins", sans-serif;
}
.home-products{
    display: inline-flex;
    font-size: 2rem;
    height: 20px;
    gap: 5px;
    color: #a09f9c;
    font-weight: 500;
    transition: color 0.3s ease;
    margin-bottom: 80px;

}
.home-products:hover{
    cursor: pointer;
}
.home-products > div,
.home-products > i{
    color: #a09f9c;
    transition: color 0.3s ease;
    cursor: pointer;
}
.home-products:hover div{
    color: #000008;
}
.home-products:hover i{
    color: #000008;
    cursor: pointer;
}
.production-img{
    width: 100%;
}
.production-main-img {
    width:80%;
    border-radius: 8px;
    object-fit: cover;
}
.production-thumbnails{
    width: 100%;
}
.production-thumbnail{
    width: 100%;
    cursor: pointer;
}
.production-info {
    padding: 0 30px;
    font-family: 'Outfit', sans-serif;
}

.product-name {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.product-brand {
    font-size: 1.4rem;
    color: #a09f9c;
    margin-bottom: 16px;
}

.product-price {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}


.product-size {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.size-btn {
    padding: 8px 16px;
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius:25px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
    font-family:  'Outfit', sans-serif;
}

.size-btn:hover,
.size-btn.active {
    border-color: #000;
    background-color: #000;
    color: #fff;
}


.product-action {
    display: flex;
    flex-direction: column;
    gap:24px;
    margin-bottom: 25px;
    padding: 0 100px;
}

.btn {
    padding: 10px 0;
    border: none;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.25s;
    height: 50px;
    font-family:  'Outfit', sans-serif;
}

.add-cart-btn {
    background-color: #000;
    color: #fff;
    font-size: 1.8rem;
}

.add-cart-btn:hover {
    background-color: #000008;
}

.add-wishlist-btn {
    background-color: #ffffff;
    color: #000008;
    font-size: 1.8rem;
}

.add-wishlist-btn:hover {
    background-color: #e9e9e9;
}


.product-info {
    font-size: 1.6rem;
    line-height: 1.6;
}

.product-info ul {
    list-style: disc;
    margin: 10px 0 10px 20px;

}

.product-info a {
    color: #0077cc;
    text-decoration: underline;
    font-size: 1.2rem;
    line-height: 14px;
}

.product-info a:hover {
    color: #005fa3;
}

.size-info {
    font-size: 1.2rem;

    color: #555;
    margin-top: 15px;
}

.suggest-productions{
    width: 100%;
}
.suggest-productions > p {
    height: 120px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family:  'Outfit', sans-serif;
}
.suggest-production {
    background-color: #f8f8f8;
    margin-bottom: 30px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.suggest-production:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.suggest-production img {
    width: 100%;
    aspect-ratio: 2/3;
}
.suggest-production-name,
.suggest-production-price {
    padding: 0 12px;
}
.suggest-production-name{
    font-size: 1.6rem;
    font-weight: 520;
    margin-top: 20px;
    font-family: 'Outfit', sans-serif;
    color: #000008;
}
.suggest-production-price{
    font-size: 1.5rem;
    color: #a09f9c;
    font-family: 'Outfit', sans-serif;
    transition: color 0.3s ease;
    user-select: none;
    font-weight: 600;
    margin: 10px 0;
}
.suggest-production-price:hover {
    color: #000008;
}
/* ===== Responsive ===== */
@media (max-width: 64.1em) {
   .production-thumbnails{
       display: none;
   }
    .production-main-img{
        width: 100%;
    }
}
